NEXT_PUBLIC_SUPABASE_URL=https://beqcxefqcvjqtvyvynsn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlcWN4ZWZxY3ZqcXR2eXZ5bnNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzg0MzIxOTYsImV4cCI6MjA1NDAwODE5Nn0.Fa89Q39SqM3Shh-kONtr58RLeWja5qWB8eloN5jIOmg
